html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}

h1, h2  {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nerko One', cursive;
  letter-spacing: 1px;
}

h2 {
  color: #ffffff;
}

.item {
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.events-list .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.events-list .media:last-of-type{
  border-bottom: 0;
}
.events-list .media-body p {
  margin:0;
}
.events-list .media-body button {
  margin-top: 1rem !important;
}
.events-list .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.event {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  margin-bottom: 10px;
  border-radius: 1rem;
}

.event p {
  font-weight: bold;
  margin-bottom: .8rem;
}

.event p span {
  font-weight: normal;
}

.button.delete,
.button.delete:hover {
  margin-top: 2rem;
  font-family: 'Fjalla One', sans-serif;
  background-color: #330867;
  color: #fff;
}

.btn-submit {
  margin-top: 3rem;
  font-family: 'Fjalla One', sans-serif;
  background-color: #330867 !important;
  color: #fff !important;
}

.alert-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Nerko One', cursive;
} 