html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #0b8793 0%, #D41872 52%, #360033 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

h1, h2  {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.events-list .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.events-list .media:last-of-type{
  border-bottom: 0;
}
.events-list .media-body p {
  margin:0;
}
.events-list .media-body button {
  margin-top: 1rem !important;
}
.events-list .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.event {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.event p {
  font-weight: bold;
  margin-bottom: .8rem;
}

.event p span {
  font-weight: normal;
}

.event:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.event:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button.delete,
.button.delete:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alert-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  'Staatliches', cursive;
} 